{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ourwork.css' %}">
{% endblock extra_css %}

{% block content %}
 <div class="columns">
     <div class="column">
         <div class="hero hero-lg bg-primary">
            <h1>PromotorEd</h1>
            <p>Learn. Connect. Earn.</p>
            <div class="columns">
                <div class="column is-1">
                <a href="{% slugurl 'onboard' %}"><button class="btn">Get Started</button></a>
                </div>
            </div>
            
         </div>
     </div>
 </div>


{% endblock content %}
