<div class="columns mentor-item">
    <div class="column col-2">
        <img src="../../static/img/mentor_select/sumit@2x.png" alt="" class="img-responsive mentor-avatar">
    </div>
    <div class="column col-6">
        <h4>Timus Latep</h4>
        <p>Web Developer, Cisco<br />
        Previous: Bus Driver, Long Beach<br />
        <a href="">Learn More...</a>
        </p>
    </div>
    <div class="column col-4">
        <div class="mentor-btns">
            <button class="btn">Deny</button>
            <button class="btn btn-secondary">Accept</button>
        </div>
    </div>
</div>
<div class="divider"></div>