{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-communitypage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ourwork.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column col-9 col-mx-auto">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Let's Get Started</div>
                </div>
                <div class="card-subtitle">Collect basic information about you...</div>
            </div>
        </div>
    </div>
</div>


<p>this is where we onboard a student and submit to backend...</p>
<a href="{% slugurl 'select-mentor' %}">
    <button class="btn">Go to Mentor Selection</button>
</a>
{% endblock content %}