{% load static wagtailuserbar wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/ourwork.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <header class="navbar">
            <section class="navbar-section">
                <a href="/"><img src="{% static '/img/home/logo@2x.png' %}" alt="" class="img-responsive nav-logo"></a>
                <h3 class="mr-2">PromotorEd</h3>

            </section>
            <section class="navbar-section">
                <a href="{% slugurl 'student' %}" class="btn btn-link">Students</a>
                <a href="{% slugurl 'mentor' %}" class="btn btn-link">Mentors</a>
                <a href="{% slugurl 'community' %}" class="btn btn-link">Community</a>
            </section>
        </header>
        {% block content %}{% endblock %}

        <footer class="bg-white">
            <div class="container">
                <div class="columns pt-30 mt-40">
                    <div class="column col-8 col-mx-auto">
                        <div class="columns">
                            <div class="column col-4"></div>
                            <div class="column col-4"></div>
                            <div class="column col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/ourwork_wagtail.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
